@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*******************************
********** Spinner *************
*******************************/
body {
  margin: 0;
  padding: 0;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #4e4e4e;
  animation: disparition 2s 3s linear forwards;
}

.spinner .loader {
  margin: 0;
  padding: 0;
  font-family: shrikhand;
  font-size: 48px;
  animation: load-spinner 3000ms linear;
}

span.prems {
  color: #9356DC;
}

span.deux {
  color: #ff79da;
}

span.trois {
  color: #99e2d0;
}

span.dots {
  color: #99e2d0;
}

@keyframes load-spinner {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  10% {
    transform: rotate(72deg) scale(0.1);
    opacity: 0.1;
  }
  20% {
    transform: rotate(144deg) scale(0.2);
    opacity: 0.2;
  }
  30% {
    transform: rotate(216deg) scale(0.3);
    opacity: 0.3;
  }
  40% {
    transform: rotate(288deg) scale(0.4);
    opacity: 0.4;
  }
  50% {
    transform: rotate(360deg) scale(0.5);
    opacity: 0.5;
  }
  60% {
    transform: rotate(432deg) scale(0.6);
    opacity: 0.6;
  }
  70% {
    transform: rotate(504deg) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: rotate(576deg) scale(0.8);
    opacity: 0.8;
  }
  90% {
    transform: rotate(648deg) scale(0.9);
    opacity: 0.9;
  }
  100% {
    transform: rotate(720deg) scale(1);
    opacity: 1;
  }
}
@keyframes disparition {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-70px);
    width: 100vw;
    height: 0;
  }
}
/*******************************
********* Header ***************
*******************************/
header, main, footer {
  min-width: 320px;
  max-width: 1440px;
  margin: 10px auto;
  padding: 0 10px;
  font-family: roboto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header a {
  position: absolute;
  text-decoration: none;
  left: 30px;
  color: #000;
}

.header .fa-arrow-left {
  display: none;
}

.header .fa-arrow-left.resp {
  display: inline;
}

.header__img {
  width: 147px;
  height: 24px;
  text-align: center;
}

/**********************************
****   Main Reservation   *********
**********************************/
main {
  margin-bottom: 0;
}

.reservation {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  background-color: #f3f2f2;
  border-top: 4px solid rgba(150, 150, 150, 0.5);
}

.reservation h1 {
  width: 80%;
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.reservation h2 {
  margin-top: 0;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

.recherche {
  width: 100%;
  padding: 10px;
  background-color: #dddddd;
}

.recherche form {
  display: flex;
  justify-content: center;
}

form i.fa-map-marker-alt {
  padding-right: 10px;
}

.recherche input {
  width: 200px;
  height: 32px;
  border: none;
  background-color: #dddddd;
  font-size: 25px;
}

.recherche input:focus {
  border: 1px solid #ff79da;
}

.btn button {
  padding: 20px;
  font-size: 22px;
  background: linear-gradient(45deg, #9256dc 0%, #ff7ad9 100%);
  border-color: transparent;
  border-radius: 50px;
  color: #fff;
  box-shadow: 12px 12px 20px 1px rgba(0, 0, 0, 0.2), -12px 12px 20px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 200ms;
}

.btn button:hover {
  cursor: pointer;
  background: linear-gradient(45deg, #9256dc 0%, rgba(255, 122, 217, 0.6) 100%);
  box-shadow: 12px 12px 20px 1px rgba(0, 0, 0, 0.4), -12px 12px 20px 1px rgba(0, 0, 0, 0.4);
}

/*******************************************
************ Page Menu *********************
*******************************************/
.header .fa-arrow-left:hover {
  color: #9356DC;
}

.image-top img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.background-page-menu {
  background-color: #eee;
  position: relative;
  margin-top: -40px;
  padding: 0 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  z-index: 2;
}

.titre-menu-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titre-menu-page h2 {
  font-family: shrikhand;
  font-size: 34px;
}

.carte {
  display: flex;
  flex-flow: column;
}

.carte h4 {
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
}

h4 span.underline {
  border-bottom: 2px solid #99e2d0;
}

.menu-resto {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 12px;
  animation: chargement-plat-decale 800ms ease-in;
}

@keyframes chargement-plat-decale {
  0% {
    opacity: 0;
    transform: translatey(100px);
  }
  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}
.menu-resto:nth-of-type(2) {
  animation-delay: 200ms;
}

.menu-resto:nth-of-type(3) {
  animation-delay: 400ms;
}

.menu-resto:nth-of-type(4) {
  animation-delay: 800ms;
}

.menu-item {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  transition: width 1s;
}

.menu-item h5 {
  margin: 0;
  font-size: 18px;
}

.menu-item p {
  position: relative;
  margin: 5px 0 0 0;
  font-size: 16px;
  color: #464646;
  width: 100%;
}

.menu-item span.texte {
  display: inline-block;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item span.prix {
  display: inline-block;
  position: absolute;
  right: 0;
  color: #000;
  font-weight: 400;
}

.menu-resto .selection_plat {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: #99e2d0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  visibility: hidden;
  transition: width 1s;
}

.menu-resto .selection_plat span.centrer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-resto .selection_plat i {
  color: #fff;
}

.menu-resto:hover .menu-item {
  cursor: pointer;
  width: 80%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.menu-resto:hover .selection_plat {
  cursor: pointer;
  visibility: visible;
  width: 20%;
  Height: 100%;
}

.menu-resto:hover .selection_plat i {
  transform: rotate(720deg);
  transition-duration: 1s;
}

.commander {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.commander button.btn-menu {
  padding: 15px 60px;
}

/****************************************
************* Fonctionnement ************
****************************************/
.fonction {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
  padding-left: 25px;
  width: 95%;
}

.fonction h2 {
  font-size: 38px;
}

.fonctionnement {
  width: 95%;
  align-self: flex-end;
}

.fonctionnement p {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 30px;
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.2);
}

.fonctionnement p:hover {
  cursor: pointer;
  background-color: #eee4fa;
}

.fonctionnement p:hover > i {
  color: #9356DC;
}

.fonctionnement span.number {
  display: inline-block;
  color: #fff;
  background-color: #9356DC;
  width: 40px;
  height: 40px;
  margin-left: -50px;
  padding: 5px 0 0 12px;
  border-radius: 90px;
}

.fonctionnement i {
  padding: 0 30px;
}

/*****************************************
************* Restaurant *****************
*****************************************/
.restaurant {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px 0;
  background-color: #f3f2f2;
}

.restaurant h2 {
  align-self: flex-start;
  padding-left: 20px;
  font-size: 38px;
}

.restaurant .resto {
  width: 95%;
}

.restaurant .resto-nom {
  margin-bottom: 20px;
  position: relative;
  background-color: #fff;
  border-radius: 25px;
}

.restaurant .resto-nom a {
  color: #000;
  text-decoration: none;
}

.restaurant .img_resto img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.palette p.nouveau, .note p.nouveau {
  position: absolute;
  padding: 10px;
  background-color: #99e2d0;
  top: 10px;
  right: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #01a316;
  border-radius: 5px;
}

.nom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nom h3 {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 700;
}

.nom p {
  margin: 10px 0;
  font-size: 20px;
}

.nom div {
  padding-left: 20px;
}

.nom i.far {
  position: absolute;
  right: 20px;
  transition: opacity;
}

.nom i.fas {
  position: absolute;
  right: 20px;
  opacity: 0;
  transition: color 0.3s linear, transform 1s linear;
}

.nom i.far:hover {
  cursor: pointer;
  opacity: 0;
}

.nom i.fas:hover {
  cursor: pointer;
  opacity: 1;
  color: #ff79da;
  transform: scale(1.1);
}

/********************************
*********** Footer **************
********************************/
footer {
  margin-top: 0;
}

.footer {
  padding: 20px;
  background-color: #272727;
}

.footer p {
  margin: 0;
  font-family: shrikhand;
  font-size: 30px;
  color: #fff;
}

.liens_footer div {
  display: flex;
}

.liens_footer div a {
  padding-left: 10px;
}

.liens_footer a {
  display: block;
  padding: 5px 0;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}

.liens_footer a:hover {
  color: #9356DC;
}

.liens_footer i {
  width: 25px;
  height: 40px;
  padding: 10px 5px 0 0;
  color: #fff;
}

/*********************************************
*********** Media Queries ********************
*********************************************/
@media only screen and (max-width: 400px) {
  .nom i.far {
    position: absolute;
    right: 10px;
    bottom: 3px;
  }

  .nom i.fas {
    position: absolute;
    right: 10px;
    bottom: 3px;
  }
}
@media only screen and (min-width: 768px) {
  .header .fa-arrow-left.resp {
    display: none;
  }

  .header .fa-arrow-left {
    display: inline;
  }

  .header__img {
    width: 294px;
    height: 48px;
    text-align: center;
  }

  .carte-resto {
    display: flex;
    flex-direction: column;
  }

  .carte {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .resp-max {
    margin: 0 auto;
    width: 75%;
  }

  .resto {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .restaurant .resto-nom {
    width: 48%;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .liens_footer {
    padding-left: 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .carte-resto {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .carte {
    width: 30%;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .liens_footer div, .liens_footer a {
    display: inline-block;
    padding-left: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
